::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(black, .2);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(black, .2);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(black, .2);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(black, .2);
}


:focus {
	outline: none;
}




.overlay fieldset {
	display: none;


	&:target {
		display: block;
	}
}

[contenteditable] {
	display: block;
	border: 1px solid black;
	padding: 10px;
}