
span.button {
	//display: inline-block;
	background: rgb(237,103,27) linear-gradient(transparent, rgba(black, .1));
	color: white;
	border: 1px solid white;
	padding: $spacing / 4 $spacing * 2;
	border-radius: 4px;
	cursor: pointer;

	&.disabled {
		cursor: not-allowed;
	}
}