<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=4, minimum-scale=3, maximum-scale=5">

	<title>Stupid!</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.min.css">
    <script src="/static/dom-to-image.js"></script>


</head>

    <div class="overlay" hidden>
        <p class="warning">
            Thanks for your order! We've shipped the product to you. Complete the payment within 5 minutes, otherwise we well have to take legal measures.

            <span class="close">Cancel to not continue this transaction</span> 
        </p>


        <form>
            <fieldset id="field-title">
                

                <a href="#field-firstname">></a>
            </fieldset>

            <fieldset id="field-firstname">
                
                <h7 contenteditable>First name</h7>


                <a href="#field-lastname">></a>
            </fieldset>

            <fieldset id="field-lastname">
                
                <h7 contenteditable>Last name</h7>
            </fieldset>


        </form>


        <span class="close-overlay">x</span>
    </div>

    <div class="header">
        <img class="logo" src="/static/images/coolshit_logoe.png">

    </div>

    <div class="chat">
        <div class="chatmessage">
            <p class="text"> {{answer|safe}} </p>

            {%if buttonIsHere %}
            <span class="button button-yes">Yes</span>
            <span class="button button-order">👍</span>
            <span class="button disabled">Cancel</span>
            {% endif %}
        </div>

        



        <div class="chatcontrols">
            <input type="text" placeholder="Yes?">
            <!--span class="button">Ok</span-->

            <audio src="/static/song/test.mp3" loop></audio>
        </div>
    </div>




    <script>
        var theMessage = document.querySelector('.chatmessage'), 
            theChat = document.querySelector('.chat'),
            browserWidth = window.innerWidth || document.documentElement.clientWidth,
            browserHeight = window.innerHeight || document.documentElement.clientHeight;


        domtoimage.toJpeg(theMessage, { quality: 0.9, bgcolor: 'white' })
                .then(function (dataUrl) {
                    var img = new Image();
                    img.classList.add('hi');
                    img.src = dataUrl;
                    theChat.appendChild(img);

                    //theMessage.setAttribute('hidden', true);
                })
                .catch(function (error) {
                    console.error('oops, something went wrong!', error);
                });


        theInput = document.querySelector('.chatcontrols input');


        theInput.addEventListener('keyup', function(e) {
            if(e.keyCode == 27){
                e.preventDefault();
                handleSubmit(e.target);  
            }

        });


        // Party! 🕺💃

        theParty = document.querySelector('.chatcontrols audio');

        theInput.addEventListener('focus', function(e) {
            theParty.play();
        });

        theInput.addEventListener('blur', function(e) {
            theParty.pause();
        });



        function handleSubmit(theTarget) {
            location.href='/get/'+theTarget.value;
        }


        btnYes = document.querySelector('.button-yes');
        btnYes.addEventListener('click', function() {
            location.href='/get/getmoney';
        });

        btnOrder = document.querySelector('.button-order');
        btnOrder.addEventListener('click', function() {
            theOverlay = document.querySelector('.overlay');
            theOverlay.removeAttribute('hidden');

            window.location.hash = "field-title";
        });


        theMessage.addEventListener('click', function() {

        });



        closeOverlay = document.querySelector('.close-overlay');
        buttonWidth = closeOverlay.offsetWidth;
        buttonHeight = closeOverlay.offsetHeight;
        closeOverlay.addEventListener("mouseover", move, false);

        function move() {
        closeOverlay.style.left = Math.floor(Math.random()*(browserWidth-buttonWidth)) + "px";
        closeOverlay.style.top = Math.floor(Math.random()*(browserHeight-buttonHeight)) + "px";
    }
    </script>

</body>
</html>