<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=4, minimum-scale=3, maximum-scale=5">

	<title>Stupid!</title>

	<link rel="stylesheet" href="./css/style.min.css">

	<script src="./dom-to-image.js"></script>
</head>

    <div class="header">
        <img class="logo" src="./images/coolshit_logoe.png">

    </div>

    <div class="chat">
        <div class="chatmessage">
            <p class="text"> <<answer>> </p>

            <span class="button">Yes</span>
            <span class="button">👍</span>
            <span class="button disabled">Cancel</span>
        </div>

        



        <div class="chatcontrols">
            <input type="text" placeholder="Yes?">
            <!--span class="button">Ok</span-->

            <audio src="./song/test.mp3" loop></audio>
        </div>
    </div>



    <script>
        var theMessage = document.querySelector('.chatmessage'), 
            theChat = document.querySelector('.chat');

        console.log(theMessage);

        domtoimage.toJpeg(theMessage, { quality: 0.9, bgcolor: 'white' })
                .then(function (dataUrl) {
                    var img = new Image();
                    img.src = dataUrl;
                    theChat.appendChild(img);

                    theMessage.setAttribute('hidden', true);
                })
                .catch(function (error) {
                    console.error('oops, something went wrong!', error);
                });


        theInput = document.querySelector('.chatcontrols input');


        theInput.addEventListener('keyup', function(e) {
            if(e.keyCode == 13){
                e.preventDefault();
                handleSubmit(e.target);  
            }

        });


        // Party! 🕺💃

        theParty = document.querySelector('.chatcontrols audio');

        theInput.addEventListener('focus', function(e) {
            theParty.play();
        });

        theInput.addEventListener('blur', function(e) {
            theParty.pause();
        });




        function handleSubmit(theTarget) {
            window.location('/get/'+theTarget.value);
            
        }
    </script>

</body>
</html>